body {
    background-color: #f9f9f9;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 90vh;
}

#container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 0 10px;
    text-align: center;
}

#tag {
    opacity: 0.5;
}

#quote {
    background: #f9f9f9;
    border: 1px solid #d3d3d3;
    border-radius: 5px;
    padding: 20px 20px;
    margin: 10px 0;
    text-align: center;

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#quote div.word {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    min-width: 10px;
    flex-wrap: nowrap;

    border: 1px solid #d3d3d3;
    border-radius: 5px;
    padding:0 5px;
    margin:  5px 0;
}

#quote div.word > span {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    min-width: 10px;
}

#quote span input {
    /* single caracter input, only bottom border */
    border: none;
    border-bottom: 1px solid #d3d3d3;
    font-size: 1.2em;
    text-align: center;
    width: 1em;
    margin: 0.2em 0;
    padding: 2px 0;
}

#quote span input:focus {
    outline: none;
    border-bottom: 1px solid #d3d3d3;
    box-shadow: 1px 2px 2px 0px rgba(0,0,0,.1);
}

#quote span input:valid + span {
    opacity: 0;
}

#quote span input:disabled {
    background-color: #f9f9f9;
    border-bottom-color: white;
}

#quote span input:disabled + span {
    opacity: 0;
}

#quote span span {
    opacity: 0.5;
    transition: all .3s;
    padding: 5px 0;
    font-size: smaller;
}

#quote span span.active {
    opacity: 0.8;
}

#quote span:has(span.active) input {
    background-color: rgba(255, 238, 219, 0.764);
}